.error{
    color:red;
}
.inputs label{
    font-size: 17px;
    margin: 10px 0 10px 0;
}
.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputs input{
    width: 365px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(177, 176, 176) ;
    transition: border-color ease-in-out 0.2s;
}
.inputs input:focus{
outline: none;
border-color: #198754;
}
.save, .cancel, .edit{
    width: 70px;
}

.navlink{
   
    margin-right:30px;
}
.swift{
    font-weight: 700;
}